# https://ghostty.org/docs/config/reference
# ghostty +show-config --default --docs
# ghostty +list-fonts
font-family = "Hack"
font-size = 22
font-thicken = false

bell-features = no-system,no-audio,no-attention,no-title,no-border
clipboard-paste-protection = false
clipboard-paste-bracketed-safe = true

shell-integration-features = no-cursor
cursor-style = block
cursor-style-blink = false

cursor-color = ff00ff
background = dddddd
foreground = 4a4b4c
selection-foreground = dddddd
selection-background = 4a4b4c

palette = 0=#4a4b4c
palette = 1=#af005f
palette = 2=#5f8700
palette = 3=#d75f00
palette = 4=#005faf
palette = 5=#8700af
palette = 6=#008b8b
palette = 7=#fefff0
palette = 8=#808080
palette = 9=#af005f
palette = 10=#5f8700
palette = 11=#d75f00
palette = 12=#005faf
palette = 13=#8700af
palette = 14=#008b8b
palette = 15=#f8f8ff

keybind = super+left=previous_tab
keybind = super+right=next_tab
keybind = shift+left=unbind
keybind = shift+right=unbind
keybind = shift+up=unbind
keybind = shift+down=unbind
keybind = shift+home=unbind
keybind = shift+end=unbind
keybind = shift+page_up=unbind
keybind = shift+page_down=unbind
